h1 {
    text-align: center;
}

body{
    background: #939e96; 
}

#banner{
    width: 100%;
}

h2 {
    text-align: center;
}

p{
    text-align: center;
}

em strong{
    color: red;
}

#mision{
    font-size: 20px;
}